$black: #020203;
$background-window: #FBFBFB;
$font-grey: #282D30;
$font-light-grey: #74798C;

$calories: #FF0101;
$calories-back: #ff00001a;

$protein: #4AB8FF;
$protein-back: #4db8ff1a;

$gludides: #FDCC0C;
$gludides-back: #FDCC0C1a;

$lipides: #FD5181;
$lipides-back: #FD51811a;